.about-us-sec {
    position: relative;
    margin-top: 80px;
    margin-bottom: 146px;
}
.about-us-lft-img-ctlr{
    position: absolute;
    left: 0;
    top: 0;
}
.about-us-lft-img{
    height: 670px;
}
.about-us-sec-entry-heading {
    padding-bottom: 1px;
}
.about-us-heading-title {
    font-weight: 400;
    color: #ee7d24;
    margin-bottom: 5px;
}
.about-us-des h2 {
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 24px;
}
.about-us-des p {
    font-size: 14px;
    margin-bottom: 16px;
    line-height: 1.4;
}

.about-us-rental-services-sec {
    padding-top: 95px;
    padding-bottom: 110px;
    background: #232756;
}
.rental-services-heading-title {
    text-align: center;
    font-weight: 400;
    color: #ee7d24;
}
.rental-services-sec-entry-heading {
    padding-bottom: 70px;
}
.rental-services-grid-item {
    text-align: center;
}

.rental-services-grid-item-img {
    margin-bottom: 30px;
    display: flex;
    max-height: 54px;
    justify-content: center;
    align-items: center;
}

.rental-services-grid-item-title {
    color: #fff;
    font-weight: 400;
    margin-bottom: 23px;
}
.rental-services-grid-item-title a{
    color: #fff;
}
.rental-services-grid-item-title a:hover{
    color: #ee7d24;
}
.rental-services-grid-item-desc p {
    color: #fff;
    font-size: 14px;
    padding: 0 90px;
}

.rental-services-grids-cntlr ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.rental-services-grids-cntlr ul li {
    width: 33.333%;
    padding: 0 15px;
    padding-bottom: 20px;
}
.luxury-fleets-sec{
    position: relative;
    padding-top: 95px;
    padding-bottom: 135px;
}
.luxury-fleets-sec-rgt-img-ctlr {
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 484px;
    width: 100%;
}

.rental-services-grid-item-img i{
    max-height: 54px;
    display: inline-block;
}
.rental-services-grid-item-img i img{
    max-height: 54px;
    width: auto;
}
.luxury-brand-con .sec-entry-hdr .sec-entry-hdr-title{
    font-weight: 400;
}
.luxury-brand-con .sec-entry-hdr {
    padding-bottom: 90px;
}
.luxury-brand-con .brand-cntlr ul{
    justify-content: start;
}
.luxury-brand-con .brand-cntlr {
    padding-right: 15%;
}






.hm-brands-sec{
    padding-top: 15px;
    padding-bottom: 50px;
}
.brand-item {
    padding-bottom: 30px;
}
.brand-cntlr ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 -50px;
}

.brand-cntlr ul li {
    padding: 0 50px;
}
.brand-item a{
    display: flex;
    align-items: center;
    justify-content: center;
}
.brand-item:hover a > img{
    -webkit-transform: scale(1.07);
    -ms-transform: scale(1.07);
    transform: scale(1.07);
}




/*model-css*/

.modal .modal-dialog{
    width: 340px;
}
.modal .modal-dialog .modal-content{
    border-radius: 17px;
}
.modal .modal-dialog .modal-content .modal-body{
    padding: 0 35px 35px 35px;
}
.modal .modal-dialog .modal-content .modal-body button.close{
    position: absolute;
    z-index: 1000;
    display: block;
    cursor: pointer;
    top: 0;
    right: 0;
    width: 44px;
    height: 44px;
    font-size: 15px;
    line-height: 0;
    color: #fff;
    background: rgba(157,39,148,0.7);
    border-radius: 0 15px;
    transition: background .3s ease-out;
}
.form-model-img {
    position: relative;
    margin: 0 -35px 40px -35px;
}
.form-img::after {
    content: '';
    display: block;
    position: absolute;
    background: #fff;
    width: 100%;
    height: 50px;
    -ms-transform-origin: right top;
    transform-origin: right top;
    bottom: 0;
    right: 0;
    -ms-transform: skewY(-5deg);
    transform: skewY(-5deg);
}
.form-img {
    position: relative;
    border-radius: 15px 15px 0 0;
    overflow: hidden;
    height: 150px;
}
.form-logo {
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    text-align: center;
}
.form-heading {
    text-align: center;
    margin-bottom: 20px;
}
.form-heading-title {
    font-size: 30px;
    margin-bottom: 0;
}
.form-modal-cntlr .form-modal .contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field{
    display: block;
    position: relative;
    margin-bottom: 15px;
    padding: 0;
}
.form-modal-cntlr .form-modal .contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container{
    margin: 0;
}
.form-modal-cntlr .form-modal .contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.wpforms-field-textarea textarea,
.form-modal-cntlr .form-modal .contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field input{
    display: block;
    text-align: left;
    width: 100%;
    box-shadow: none;
    border-radius: 6px!important;
    outline: 0;
    font-size: 14px;
    line-height: 18px;
    color: #000;
    padding: 10px 20px;
    padding-left: 40px;
    height: 40px;
    border: 1px solid #d1d1d1;
    background: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.form-modal-cntlr .form-modal .contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.wpforms-field-textarea textarea:focus,
.form-modal-cntlr .form-modal .contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field input:focus{
    border-color: #367bf5;
    box-shadow: 0 0 0 1px #367bf5;
}

.form-modal-cntlr .form-modal .contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field input:focus ~ label.wpforms-input-icon{
    color: #367bf5;
}






.form-modal-cntlr .form-modal .contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.wpforms-field-textarea textarea{
    resize: none;
    min-height: 120px;
}
.form-modal-cntlr .form-modal .contact-form-wrp .wpforms-container .wpforms-form .wpforms-submit-container {
    margin-top: 30px;
    text-align: center;
}
.form-modal-cntlr .form-modal .contact-form-wrp .wpforms-container .wpforms-form .wpforms-submit-container button{
    display: block;
    min-width: 140px;
    vertical-align: top;
    position: relative;
    text-align: center;
    cursor: pointer;
    outline: 0;
    text-decoration: none;
    font-weight: 500!important;
    font-size: 14px!important;
    line-height: 18px!important;
    padding: 10px 30px!important;
    border-radius: 20px!important;
    background: #872b90;
    color: #fff;
    box-shadow: 0 0 1px 0 rgb(135 43 144 / 20%);
    border: 1px solid #872b90!important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: all ease .3s 0s;
    margin: auto;
}
.form-modal-cntlr .form-modal .contact-form-wrp .wpforms-container .wpforms-form .wpforms-submit-container button:hover{
    border-color: #eadeeb!important;
    background: #fff!important;
    color: #000!important;
    box-shadow: none;
}
label.wpforms-input-icon {
    margin: 0!important;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 100%;
    line-height: 0;
    font-size: 18px;
    color: #c1cbdd;
    pointer-events: none;
    transition: color .3s ease-out;
}
label.wpforms-input-icon i {
    display: block;
    position: absolute;
    font-size: 1em;
    left: 50%;
    top: 50%;
    margin-top: -0.5em;
    margin-left: -0.5em;
    transition: all 0s;
}
label.wpforms-input-icon.phone i {
    margin-left: -7px;
}
.form-modal-cntlr .form-modal .contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.wpforms-has-error label.wpforms-input-icon{
    color: #D61D1D!important;
}

.form-modal-cntlr .form-modal .contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-has-error label.wpforms-error{
    font-size: 10px;
    right: 6px;
    top: -26px;
}


@media (max-width: 1699px){
    .hm-brands-sec{
        padding-top: 20px;
    }
    .brand-cntlr ul{
        margin: 0 -45px;
    }
    .brand-cntlr ul li{
        padding: 0 45px;
    }
    .luxury-fleets-sec-rgt-img-ctlr{
        max-width: 400px;
    }
    .about-us-sec {
        margin-top: 70px;
        margin-bottom: 130px;
    }
    .about-us-des h2{
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .about-us-rental-services-sec {
        padding-top: 90px;
        padding-bottom: 100px;
    }
    .rental-services-sec-entry-heading {
        padding-bottom: 70px;
    }
    .rental-services-grid-item-img{
        margin-bottom: 25px;
    }
    .rental-services-grid-item-title{
        margin-bottom: 20px;
    }
    .rental-services-grid-item-desc p{
        padding: 0 65px;
    }
    .luxury-fleets-sec {
        padding-top: 85px;
        padding-bottom: 120px;
    }
    .luxury-brand-con .sec-entry-hdr {
        padding-bottom: 80px;
    }
}
@media (max-width: 1599px){
    .brand-cntlr ul{
        margin: 0 -40px;
    }
    .brand-cntlr ul li{
        padding: 0 40px;
    }
    .luxury-fleets-sec-rgt-img-ctlr{
        max-width: 380px;
    }
    .about-us-sec {
        margin-top: 65px;
        margin-bottom: 120px;
    }
    .about-us-des h2{
        margin-top: 35px;
    }
    .about-us-rental-services-sec {
        padding-top: 85px;
        padding-bottom: 95px;
    }
    .rental-services-sec-entry-heading {
        padding-bottom: 65px;
    }
    .luxury-fleets-sec {
        padding-top: 75px;
        padding-bottom: 105px;
    }
}
@media (max-width: 1499px){
    .brand-cntlr ul{
        margin: 0 -35px;
    }
    .brand-cntlr ul li{
        padding: 0 35px;
    }
    .luxury-fleets-sec-rgt-img-ctlr{
        max-width: 365px;
    }
    .about-us-sec {
        margin-top: 60px;
        margin-bottom: 110px;
    }
    .about-us-des h2 {
        margin-top: 30px;
        margin-bottom: 18px;
    }
    .about-us-des p{
        margin-bottom: 14px;
    }
    .rental-services-grid-item-img{
        margin-bottom: 20px;
    }
    .rental-services-grid-item-title{
        margin-bottom: 18px;
    }
    .rental-services-grids-cntlr ul{
        margin: 0 -13px;
    }
    .rental-services-grids-cntlr ul li{
        padding: 0 13px;
    }
    .rental-services-sec-entry-heading {
        padding-bottom: 60px;
    }
    .about-us-rental-services-sec {
        padding-top: 75px;
        padding-bottom: 85px;
    }
    .luxury-fleets-sec {
        padding-top: 65px;
        padding-bottom: 90px;
    }
    .luxury-brand-con .sec-entry-hdr {
        padding-bottom: 70px;
    }
    .sec-entry-hdr {
        padding-bottom: 25px;
    }
}
@media (max-width: 1399px){
    .brand-cntlr ul{
        margin: 0 -30px;
    }
    .brand-cntlr ul li{
        padding: 0 30px;
    }
    .luxury-fleets-sec-rgt-img-ctlr{
        max-width: 356px;
    }
    .about-us-sec {
        margin-top: 55px;
        margin-bottom: 95px;
    }
    .about-us-des h2 {
        margin-top: 25px;
        margin-bottom: 16px;
    }
    .about-us-des p {
        margin-bottom: 12px;
    }
    .about-us-rental-services-sec {
        padding-top: 70px;
        padding-bottom: 80px;
    }
    .rental-services-sec-entry-heading {
        padding-bottom: 55px;
    }
    .rental-services-grid-item-img {
        margin-bottom: 18px;
    }
    .luxury-fleets-sec {
        padding-top: 60px;
        padding-bottom: 80px;
    }
    .luxury-brand-con .sec-entry-hdr {
        padding-bottom: 65px;
    }
    .hm-brands-sec {
        padding-top: 15px;
    }
}
@media (max-width: 1299px){
    .luxury-fleets-sec-rgt-img-ctlr{
        max-width: 356px;
    }
    .about-us-sec {
        margin-bottom: 85px;
    }
    .about-us-des h2 {
        margin-top: 20px;
    }
    .about-us-rental-services-sec {
        padding-top: 60px;
        padding-bottom: 70px;
    }
    .rental-services-sec-entry-heading {
        padding-bottom: 45px;
    }
    .luxury-fleets-sec {
        padding-top: 55px;
        padding-bottom: 70px;
    }
    .luxury-brand-con .sec-entry-hdr {
        padding-bottom: 60px;
    }
}
@media (max-width: 1199px){
    .about-us-sec {
        margin-top: 50px;
        margin-bottom: 75px;
    }
    .about-us-des h2 {
        margin-top: 15px;
        margin-bottom: 14px;
        font-size: 22px;
    }
    .about-us-des p {
        font-size: 13px;
    }
    .about-us-rental-services-sec {
        padding-top: 50px;
        padding-bottom: 60px;
    }
    .rental-services-sec-entry-heading {
        padding-bottom: 36px;
    }
    .rental-services-grids-cntlr ul {
        margin: 0 -10px;
    }
    .rental-services-grids-cntlr ul li {
        padding: 0 10px;
    }
    .rental-services-grid-item-img {
        margin-bottom: 15px;
    }
    .rental-services-grid-item-title {
        margin-bottom: 16px;
    }
    .rental-services-grid-item-desc p{
        font-size: 13px;
        padding: 0 50px;
    }
    .luxury-fleets-sec-rgt-img-ctlr {
        max-width: 310px;
    }
    .luxury-fleets-sec {
        padding-top: 45px;
        padding-bottom: 55px;
    }
    .luxury-brand-con .sec-entry-hdr {
        padding-bottom: 50px;
    }
    .luxury-brand-con .brand-cntlr ul li{
        padding: 0 20px;
    }
    .luxury-brand-con .brand-cntlr ul{
        margin: 0 -20px;
    }
    .hm-brands-sec {
        padding-top: 10px;
        padding-bottom: 45px;
    }
    .sec-entry-hdr {
        padding-bottom: 20px;
    }
}
@media (max-width: 991px){
    .brand-cntlr ul {
        margin: 0 -25px;
    }
    .brand-cntlr ul li {
        padding: 0 25px;
    }
    .about-us-sec {
        margin-top: 45px;
        margin-bottom: 65px;
    }
    .about-us-des h2 {
        margin-top: 7px;
        margin-bottom: 12px;
        font-size: 20px;
    }
    .about-us-rental-services-sec {
        padding-top: 45px;
        padding-bottom: 50px;
    }
    .rental-services-sec-entry-heading {
        padding-bottom: 28px;
    }
    .rental-services-grids-cntlr ul li {
        padding: 0 6px;
    }
    .rental-services-grids-cntlr ul {
        margin: 0px -6px;
    }
    .rental-services-grid-item .rental-services-grid-item-title{
        font-size: 19px;
        margin-bottom: 15px;
    }
    .rental-services-grid-item-desc p {
        padding: 0 17px;
    }
    .luxury-fleets-sec {
        padding-top: 40px;
        padding-bottom: 45px;
    }
    .luxury-brand-con .sec-entry-hdr {
        padding-bottom: 35px;
    }
    .luxury-brand-con .brand-cntlr {
        padding-right: 30%;
    }
}
@media (max-width: 767px){
    .about-us-sec {
        margin-top: 35px;
        margin-bottom: 55px;
    }
    .about-us-lft-img-ctlr{
        position: initial;
        padding-bottom: 30px;
        width: 100%!important;
    }
    .about-us-des h2{
        font-size: 19px;
    }
    .about-us-rental-services-sec {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .rental-services-grids-cntlr ul{
        margin: 0;
    }
    .rental-services-grids-cntlr ul li{
        width: 100%;
        padding: 0;
        padding-bottom: 30px;
    }
    .rental-services-grid-item{
        max-width: 400px;
        width: 100%;
        margin: 0 auto;
    }
    .rental-services-grid-item-img {
        margin-bottom: 20px;
    }
    .luxury-fleets-sec-rgt-img-ctlr{
        position: initial;
        width: 100%;
        margin-left: auto;
        padding-bottom: 30px;
    }
    .luxury-brand-con .brand-cntlr {
        padding-right: 0;
    }
    .luxury-brand-con .brand-cntlr ul {
        justify-content: center;
    }
    .luxury-brand-con .sec-entry-hdr{
        text-align: center;
        padding-bottom: 30px;
    }
    .luxury-fleets-sec {
        padding-top: 35px;
        padding-bottom: 35px;
    }
    .brand-cntlr ul {
        margin: 0 -20px;
    }
    .brand-cntlr ul li {
        padding: 0 20px;
    }
}
@media (max-width: 575px){
    ..luxury-brand-con .sec-entry-hdr{
        padding-bottom: 25px;
    }
}
@media (max-width: 479px){
    .luxury-fleets-sec{
        padding-bottom: 25px;
    }
}