.about-us-sec {
    position: relative;
    margin-top: 80px;
    margin-bottom: 146px;
}
.about-us-lft-img-ctlr{
    position: absolute;
    left: 0;
    top: 0;
}
.about-us-lft-img{
    height: 670px;
}
.about-us-sec-entry-heading {
    padding-bottom: 1px;
}
.about-us-heading-title {
    font-weight: 400;
    color: #ee7d24;
    margin-bottom: 5px;
}
.about-us-des h2 {
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 24px;
}
.about-us-des p {
    font-size: 14px;
    margin-bottom: 16px;
    line-height: 1.4;
}

.about-us-rental-services-sec {
    padding-top: 95px;
    padding-bottom: 110px;
    background: #232756;
}
.rental-services-heading-title {
    text-align: center;
    font-weight: 400;
    color: #ee7d24;
}
.rental-services-sec-entry-heading {
    padding-bottom: 70px;
}
.rental-services-grid-item {
    text-align: center;
}

.rental-services-grid-item-img {
    margin-bottom: 30px;
    display: flex;
    max-height: 54px;
    justify-content: center;
    align-items: center;
}

.rental-services-grid-item-title {
    color: #fff;
    font-weight: 400;
    margin-bottom: 23px;
}
.rental-services-grid-item-title a{
    color: #fff;
}
.rental-services-grid-item-title a:hover{
    color: #ee7d24;
}
.rental-services-grid-item-desc p {
    color: #fff;
    font-size: 14px;
    padding: 0 90px;
}

.rental-services-grids-cntlr ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.rental-services-grids-cntlr ul li {
    width: 33.333%;
    padding: 0 15px;
    padding-bottom: 20px;
}
.luxury-fleets-sec{
    position: relative;
    padding-top: 100px;
    padding-bottom: 120px;
}
.luxury-fleets-sec-rgt-img-ctlr {
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 484px;
    width: 100%;
}

.rental-services-grid-item-img i{
    max-height: 54px;
    display: inline-block;
}
.rental-services-grid-item-img i img{
    max-height: 54px;
    width: auto;
}
.luxury-brand-con .sec-entry-hdr .sec-entry-hdr-title{
    font-weight: 400;
}
.luxury-brand-con .sec-entry-hdr {
    padding-bottom: 90px;
}
.luxury-brand-con .brand-cntlr ul{
    justify-content: start;
}






.hm-brands-sec{
    padding-top: 15px;
    padding-bottom: 50px;
}
.brand-item {
    padding-bottom: 30px;
}
.brand-cntlr ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 -50px;
}

.brand-cntlr ul li {
    padding: 0 50px;
}
.brand-item a{
    display: flex;
    align-items: center;
    justify-content: center;
}
.brand-item:hover a > img{
    -webkit-transform: scale(1.07);
    -ms-transform: scale(1.07);
    transform: scale(1.07);
}





@media (max-width: 1699px){
    .hm-brands-sec{
        padding-top: 20px;
    }
    .brand-cntlr ul{
        margin: 0 -45px;
    }
    .brand-cntlr ul li{
        padding: 0 45px;
    }
    .luxury-fleets-sec-rgt-img-ctlr{
        max-width: 400px;
    }
    .about-us-sec {
        margin-top: 70px;
        margin-bottom: 130px;
    }
    .about-us-des h2{
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .about-us-rental-services-sec {
        padding-top: 90px;
        padding-bottom: 100px;
    }
    .rental-services-sec-entry-heading {
        padding-bottom: 70px;
    }
    .rental-services-grid-item-img{
        margin-bottom: 25px;
    }
    .rental-services-grid-item-title{
        margin-bottom: 20px;
    }
    .rental-services-grid-item-desc p{
        padding: 0 65px;
    }
}
@media (max-width: 1599px){
    .brand-cntlr ul{
        margin: 0 -40px;
    }
    .brand-cntlr ul li{
        padding: 0 40px;
    }
    .luxury-fleets-sec-rgt-img-ctlr{
        max-width: 380px;
    }
    .about-us-sec {
        margin-top: 65px;
        margin-bottom: 120px;
    }
    .about-us-des h2{
        margin-top: 35px;
    }
    .about-us-rental-services-sec {
        padding-top: 85px;
        padding-bottom: 95px;
    }
    .rental-services-sec-entry-heading {
        padding-bottom: 65px;
    }
}
@media (max-width: 1499px){
    .brand-cntlr ul{
        margin: 0 -35px;
    }
    .brand-cntlr ul li{
        padding: 0 35px;
    }
    .luxury-fleets-sec-rgt-img-ctlr{
        max-width: 365px;
    }
    .about-us-sec {
        margin-top: 60px;
        margin-bottom: 110px;
    }
    .about-us-des h2 {
        margin-top: 30px;
        margin-bottom: 18px;
    }
    .about-us-des p{
        margin-bottom: 14px;
    }
    .rental-services-grid-item-img{
        margin-bottom: 20px;
    }
    .rental-services-grid-item-title{
        margin-bottom: 18px;
    }
    .rental-services-grids-cntlr ul{
        margin: 0 -13px;
    }
    .rental-services-grids-cntlr ul li{
        padding: 0 13px;
    }
    .rental-services-sec-entry-heading {
        padding-bottom: 60px;
    }
    .about-us-rental-services-sec {
        padding-top: 75px;
        padding-bottom: 85px;
    }
}
@media (max-width: 1399px){
    .brand-cntlr ul{
        margin: 0 -30px;
    }
    .brand-cntlr ul li{
        padding: 0 30px;
    }
    .luxury-fleets-sec-rgt-img-ctlr{
        max-width: 356px;
    }
    .about-us-sec {
        margin-top: 55px;
        margin-bottom: 95px;
    }
    .about-us-des h2 {
        margin-top: 25px;
        margin-bottom: 16px;
    }
    .about-us-des p {
        margin-bottom: 12px;
    }
    .about-us-rental-services-sec {
        padding-top: 70px;
        padding-bottom: 80px;
    }
    .rental-services-sec-entry-heading {
        padding-bottom: 55px;
    }
    .rental-services-grid-item-img {
        margin-bottom: 18px;
    }
}
@media (max-width: 1299px){
    .luxury-fleets-sec-rgt-img-ctlr{
        max-width: 356px;
    }
    .about-us-sec {
        margin-bottom: 85px;
    }
    .about-us-des h2 {
        margin-top: 20px;
    }
    .about-us-rental-services-sec {
        padding-top: 60px;
        padding-bottom: 70px;
    }
    .rental-services-sec-entry-heading {
        padding-bottom: 45px;
    }
}
@media (max-width: 1199px){
    .about-us-sec {
        margin-top: 50px;
        margin-bottom: 75px;
    }
    .about-us-des h2 {
        margin-top: 15px;
        margin-bottom: 14px;
        font-size: 22px;
    }
    .about-us-des p {
        font-size: 13px;
    }
    .about-us-rental-services-sec {
        padding-top: 50px;
        padding-bottom: 60px;
    }
    .rental-services-sec-entry-heading {
        padding-bottom: 36px;
    }
    .rental-services-grids-cntlr ul {
        margin: 0 -10px;
    }
    .rental-services-grids-cntlr ul li {
        padding: 0 10px;
    }
    .rental-services-grid-item-img {
        margin-bottom: 15px;
    }
    .rental-services-grid-item-title {
        margin-bottom: 16px;
    }
    .rental-services-grid-item-desc p{
        font-size: 13px;
        padding: 0 50px;
    }
}
@media (max-width: 991px){
    .about-us-sec {
        margin-top: 45px;
        margin-bottom: 65px;
    }
    .about-us-des h2 {
        margin-top: 7px;
        margin-bottom: 12px;
        font-size: 20px;
    }
    .about-us-rental-services-sec {
        padding-top: 45px;
        padding-bottom: 50px;
    }
    .rental-services-sec-entry-heading {
        padding-bottom: 28px;
    }
    .rental-services-grids-cntlr ul li {
        padding: 0 6px;
    }
    .rental-services-grids-cntlr ul {
        margin: 0px -6px;
    }
    .rental-services-grid-item .rental-services-grid-item-title{
        font-size: 19px;
        margin-bottom: 15px;
    }
    .rental-services-grid-item-desc p {
        padding: 0 17px;
    }
}
@media (max-width: 767px){
    .about-us-sec {
        margin-top: 35px;
        margin-bottom: 55px;
    }
    .about-us-lft-img-ctlr{
        position: initial;
        padding-bottom: 30px;
        width: 100%!important;
    }
    .about-us-des h2{
        font-size: 19px;
    }
    .about-us-rental-services-sec {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .rental-services-grids-cntlr ul{
        margin: 0;
    }
    .rental-services-grids-cntlr ul li{
        width: 100%;
        padding: 0;
        padding-bottom: 30px;
    }
    .rental-services-grid-item{
        max-width: 400px;
        width: 100%;
        margin: 0 auto;
    }
    .rental-services-grid-item-img {
        margin-bottom: 20px;
    }
}
@media (max-width: 575px){

}
@media (max-width: 479px){

}