.about-us-sec {
    position: relative;
    margin-top: 75px;
    margin-bottom: 100px;
}
.about-us-lft-img-ctlr{
    position: absolute;
    left: 0;
    top: 0;
}
.about-us-lft-img{
    height: 670px;
}
.about-us-des {
    padding-bottom: 30px;
}
.about-us-heading-title {
    font-weight: 400;
    color: #ee7d24;
    margin-bottom: 55px;
}
.about-us-des h2 {
    margin-top: 50px;
    margin-bottom: 28px;
    font-weight: 400;
    font-size: 24px;
}
.about-us-des p {
    font-size: 14px;
    margin-bottom: 16px;
    line-height: 1.4;
}

.about-us-luxury-sec {
    padding-top: 95px;
    padding-bottom: 110px;
    background: #232756;
}
.luxury-heading-title {
    text-align: center;
    font-weight: 400;
    color: #ee7d24;
}
.luxury-sec-entry-heading {
    padding-bottom: 80px;
}
.luxury-grid-item {
    text-align: center;
}

.luxury-grid-item-img {
    margin-bottom: 30px;
    display: flex;
    max-height: 54px;
    justify-content: center;
    align-items: center;
}

.luxury-grid-item-title {
    color: #fff;
    font-weight: 400;
    margin-bottom: 23px;
}
.luxury-grid-item-desc p {
    color: #fff;
    font-size: 14px;
    padding: 0 48px;
}

.luxury-grids-cntlr ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.luxury-grids-cntlr ul li {
    width: 33.333%;
    padding: 0 15px;
    padding-bottom: 20px;
}
.luxury-fleets-sec{
    position: relative;
    padding-top: 100px;
    padding-bottom: 120px;
}
.luxury-fleets-sec-rgt-img-ctlr {
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 484px;
    width: 100%;
}

.luxury-grid-item-img i{
    max-height: 54px;
    display: inline-block;
}
.luxury-grid-item-img img{
    max-height: 54px;
    width: auto;
}
.luxury-brand-con .sec-entry-hdr .sec-entry-hdr-title{
    font-weight: 400;
}
.luxury-brand-con .sec-entry-hdr {
    padding-bottom: 90px;
}
.luxury-brand-con .brand-cntlr ul{
    justify-content: start;
}






.hm-brands-sec{
    padding-top: 65px;
    padding-bottom: 60px;
}
.brand-cntlr ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 -50px;
    padding-bottom: 20px;
}

.brand-cntlr ul li {
    padding: 0 50px;
}
.brand-item a{
    display: inline-block;
}
.brand-item:hover a > img{
    -webkit-transform: scale(1.07);
    -ms-transform: scale(1.07);
    transform: scale(1.07);
}





@media (max-width: 1699px){
    .brand-cntlr ul{
        margin: 0 -45px;
    }
    .brand-cntlr ul li{
        padding: 0 45px;
    }
    .luxury-fleets-sec-rgt-img-ctlr{
        max-width: 400px;
    }
}
@media (max-width: 1599px){
    .brand-cntlr ul{
        margin: 0 -40px;
    }
    .brand-cntlr ul li{
        padding: 0 40px;
    }
    .luxury-fleets-sec-rgt-img-ctlr{
        max-width: 380px;
    }
}
@media (max-width: 1499px){
    .brand-cntlr ul{
        margin: 0 -35px;
    }
    .brand-cntlr ul li{
        padding: 0 35px;
    }
    .luxury-fleets-sec-rgt-img-ctlr{
        max-width: 365px;
    }
}
@media (max-width: 1399px){

}
@media (max-width: 1299px){

}
@media (max-width: 1199px){

}
@media (max-width: 991px){

}
@media (max-width: 767px){

}
@media (max-width: 575px){

}
@media (max-width: 479px){

}