
.fleets-page-ctlr .fea-pro-sec{
	padding-top: 100px;
	padding-bottom: 100px;
}

.fleets-page-ctlr .sec-entry-hdr{
	padding-bottom: 0;
}
.fleets-page-ctlr .sec-entry-hdr-title{
	font-weight: 400;
	margin-bottom: 12px;
}

.fea-pro-select{
	padding-bottom: 50px;
}

.pro-select{
	width: 170px;
	margin-left: auto;
	position: relative;
}

.pro-select .select2-container--default .select2-selection--single .select2-selection__rendered{
	border: 1px solid #dee2e5;
	border-radius: 20px 0 20px 0;
	font-size: 16px;
	line-height: 1;
	color: #878787;
	font-family: 'MoskLight300';
	padding-top: 16px!important;
	padding-left: 22px!important;
}

.fleets-page-ctlr .fea-pro-grds > ul{
	margin-left: -25px;
	margin-right: -25px;
}
.fleets-page-ctlr .fea-pro-grds > ul > li{
	padding-left: 25px;
	padding-right: 25px;
}

.fleets-page-ctlr .fea-pro-btm-des{
	padding-top: 150px;
}

.fleets-page-ctlr .hm-brands-sec{
	padding-bottom: 180px;
}





@media(max-width: 1699px){
	.fleets-page-ctlr .fea-pro-sec {
	    padding-top: 80px;
	    padding-bottom: 80px;
	}
	.fea-pro-select {
	    padding-bottom: 40px;
	}
	.fleets-page-ctlr .fea-pro-grds > ul {
	    margin-left: -15px;
	    margin-right: -15px;
	}
	.fleets-page-ctlr .fea-pro-grds > ul > li {
	    padding-left: 15px;
	    padding-right: 15px;
	}
	.fea-pro-grd-btn.whatsapp a{
		padding-right: 10px;
	}
	.fea-pro-grd-btn.mail a{
		padding-right: 25px;
	}
	.fleets-page-ctlr .fea-pro-btm-des {
	    padding-top: 120px;
	}
	.fea-pro-btm-des{
		padding-left: 8%;
    	padding-right: 8%;
	}
	.fleets-page-ctlr .hm-brands-sec {
	    padding-bottom: 150px;
	}
}

@media(max-width: 1399px){
	.fleets-page-ctlr .fea-pro-sec {
	    padding-top: 70px;
	    padding-bottom: 70px;
	}
	.fleets-page-ctlr .fea-pro-btm-des {
	    padding-top: 100px;
	}
	.fleets-page-ctlr .hm-brands-sec {
	    padding-bottom: 130px;
	}
}

@media(max-width: 1199px){
	.fleets-page-ctlr .fea-pro-sec {
	    padding-top: 60px;
	    padding-bottom: 60px;
	}
	.fleets-page-ctlr .fea-pro-grds > ul {
	    margin-left: -8px;
	    margin-right: -8px;
	}
	.fleets-page-ctlr .fea-pro-grds > ul > li {
	    padding-left: 8px;
	    padding-right: 8px;
	    padding-bottom: 60px;
	}
	.fea-pro-grds-button {
	    left: 2px;
	    right: 2px;
	}
	.fleets-page-ctlr .fea-pro-btm-des {
	    padding-top: 90px;
	}
	.fleets-page-ctlr .hm-brands-sec {
	    padding-bottom: 100px;
	}
}

@media(max-width: 1023px){
	.fleets-page-ctlr .fea-pro-grds > ul {
	    margin-left: -15px;
	    margin-right: -15px;
	}
	.fleets-page-ctlr .fea-pro-grds > ul > li {
	    padding-left: 15px;
	    padding-right: 15px;
	    padding-bottom: 50px;
	}
	.fleets-page-ctlr .fea-pro-grds-button {
	    left: 20px;
	    right: 20px;
	}
}

@media(max-width: 991px){
	.fleets-page-ctlr .fea-pro-grd-btn.whatsapp a{
		padding-left: 35px;
	}
	.fleets-page-ctlr .fea-pro-grd-btn.whatsapp a i {
	    left: 10px;
	}
	.fleets-page-ctlr .fea-pro-grds-button {
	    left: 10px;
	    right: 10px;
	}
	.fleets-page-ctlr .fea-pro-sec {
	    padding-top: 50px;
	    padding-bottom: 50px;
	}
	.fleets-page-ctlr .fea-pro-btm-des {
	    padding-top: 80px;
	}
	.fea-pro-btm-des p {
	    font-size: 25px;
	}
	.fleets-page-ctlr .hm-brands-sec {
	    padding-bottom: 80px;
	}
}

@media(max-width: 767px){
	.fleets-page-ctlr .fea-pro-sec {
	    padding-top: 40px;
	    padding-bottom: 40px;
	}
	.fea-pro-select {
	    padding-bottom: 30px;
	}
	.fleets-page-ctlr .fea-pro-grds > ul{
		margin-left: 0;
		margin-right: 0;
	}
	.fleets-page-ctlr .fea-pro-grds > ul > li{
		width: 100%;
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 50px;
	}
	.fleets-page-ctlr .fea-pro-btm-des {
	    padding-top: 70px;
	}
	.fea-pro-btm-des {
        padding-left: 4%;
        padding-right: 4%;
        padding-bottom: 15px;
    }
    .fea-pro-btm-des p {
	    font-size: 22px;
	}
	.fleets-page-ctlr .hm-brands-sec {
	    padding-bottom: 60px;
	}
}

@media(max-width: 575px){
	.fea-pro-btm-des{
		padding-left: 0%;
    	padding-right: 0%;
	}
	.fea-pro-btm-des p {
	    font-size: 20px;
	}
}