
.main-header{
	position:relative;
	left:0;
	top:0;
	width:100%;
	padding:0px 0px;
	background:none;
	z-index:999;
}


.main-header ul,
.main-header ul li{
	list-style: none;
	margin: 0;
	padding: 0;
}

.main-header .nav-toggler{
	position:relative;
	float:right;
	padding:30px 0px 0px;
	margin-left:20px;
	display:none;	
}

.main-header .nav-toggler button{
	position:relative;
	height:40px;
	line-height:40px;
	padding: 0px 0px;
	text-align: center;
	background:none;
	color:#ffffff;
	font-size:20px;
	margin:0px;
	border-radius:0px;
	outline: none !important;
}

.main-header .nav-toggler img{
	width: 30px;
}

.main-header .header-upper{
	/*position:relative;
	padding:0px;
	width:100%;
	background: #ffffff;
	overflow-x: hidden;*/
}

.main-header .main-box{
	position:relative;
	padding:0px;
	width:100%;
}

.main-header .main-box .logo-box{
	position:relative;
	float:left;
	padding:44px 0px 40px;
	z-index:10;	
}

.main-header .main-box .logo-box .logo{
	position:relative;
	display:block;
}

.main-header .main-box .logo-box .logo img{
	display:block;
	max-width:100%;
	height: auto;
}

.main-header .upper-right{
	position:relative;
	display:block;
	float: right;
	padding-top: 20px;
	z-index:5;
}

.hdr-bdr{
    width: 40%;
}

.hdr-bdr-content{
 	left: -10px;
    right: 0;
}
.hdr-bdr,
.hdr-bdr-content{
	top: 0;
	position: absolute;
	right: 0;
    height: 5px;
    background: #f85700;
}

.main-header .top-info{
	position: relative;
	display: block;
	padding: 0px 0px;
	display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.main-header .top-info ul{
	position: relative;
	float: left;
}
.serach-box{
	float: right;
	margin-left: 80px;
}
.serach-box .submit{
	display: none;
}
.serach-box input[type="text"] {
    width: 205px;
    height: 34px;
    background: #3d3f44;
    outline: 0;
    border: 0;
    color: #fff;
    padding: 0 20px;
    font-size: 16px;
    border-radius: 10px;
}

.serach-box input[type="text"]::-webkit-input-placeholder { /* Edge */
  opacity: 1;
  color: #fff;
}

.serach-box input[type="text"]:-ms-input-placeholder { /* Internet Explorer 10-11 */
  opacity: 1;
  color: #fff;
}

.serach-box input[type="text"]::placeholder {
  opacity: 1;
  color: #fff;
}
.main-header .top-info ul li{
	position: relative;
	float: left;
	padding-left: 60px;
	min-height: 44px;
	line-height: 24px;
	margin-left: 85px;
}

.main-header .top-info ul li.email{
	padding-left: 55px;
}

.main-header .top-info ul li .subtitle{
	position: relative;
	display: block;
	color: #282526;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 300;
	line-height: 20px;
}

.main-header .top-info ul li a{
	position: relative;
	display: block;
	color: #282526;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
}

.main-header .top-info ul li .icon{
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	top: 0px;
	line-height: 32px;
	margin-right: 10px;
}

.main-header .top-info ul li .icon img{
	display: inline-block;
	vertical-align: middle;
	height: 36px;
}

.main-header .top-info ul li a:hover{
	color: #E30613;
}

.main-header .nav-outer{
	position:relative;
	display:block;
	padding-top: 15px;
	z-index:5;
}

.main-menu{
	position:relative;
	float: right;
	display:block;
	padding-top: 0px;
}

.main-menu .navbar-collapse{
	padding:0px;
	margin:0px;
	border:none;
	box-shadow:none;
}

.main-menu .navigation{
	position:relative;
	z-index: 1;
}
.main-menu .navigation > li:before,
.main-header .top-info ul li:before{
	display: none;
}
.main-menu .navigation > li{
	position:relative;
	display: block;
	float: left;
	padding:11px 0px 35px;
	margin-right: 40px;
	text-align:left;
	list-style: none;
}

.main-menu .navigation > li:last-child{
	margin-right: 0;
}

.main-menu .navigation > li > a{
	position:relative;
	display:block;
	font-size:16px;
	color:#282526;
	padding:5px 0px;
	font-weight:700;
	line-height:30px;
	text-transform: uppercase;
	opacity:1;
	-webkit-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	transition:all 300ms ease;
}

.main-menu .navigation > li > a:before{
	content: '';
	position: absolute;
	left: 0;
	bottom: -2px;
	width: 20px;
	border-bottom: 5px solid #f85700;
	transform-origin: left;
	-ms-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	transition:all 300ms ease;
}

.main-menu .navigation > li.current-menu-item > a:before,
.main-menu .navigation > li.current-menu-item > a:before,
.main-menu .navigation > li:hover > a:before{
	-ms-transform: scaleX(1);
	transform: scaleX(1);
}

.main-menu .navigation > li:hover > a,
.main-menu .navigation > li.current-menu-item > a,
.main-menu .navigation > li.current-menu-item > a{
	text-decoration: none;
	opacity:1;
}

.main-menu .navigation > li > ul{
	position:absolute;
	left: 0;
	top:100%;
	width:240px;
	padding:0px 0px;
	z-index:100;
	opacity: 0;
	text-align:left;
	background:#ffffff;
	border: 1px solid rgba(0,0,0,0.10);
	border-top: 4px solid #282526;
	border-radius:0px;
	-webkit-transform: translateY(20px);
	-ms-transform: translateY(20px);
	transform: translateY(20px);
	-moz-transition:all 100ms ease;
	-webkit-transition:all 100ms ease;
	-ms-transition:all 100ms ease;
	-o-transition:all 100ms ease;
	transition:all 100ms ease;
	visibility: 0;


}

.main-menu .navigation > li > ul > li{
	position:relative;
	border-bottom: 1px solid rgba(0,0,0,0.10);
	padding:0px 0px;
}

.main-menu .navigation > li > ul > li:last-child{
	border-bottom: none;
}

.main-menu .navigation > li > ul > li > a{
	position:relative;
	display:block;
	padding:10px 20px;
	font-size:14px;
	line-height:24px;
	font-weight:600;
	color:#282526;
	text-decoration: none;
	text-transform:capitalize;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}

.main-menu .navigation > li > ul > li:hover > a,
.main-menu .navigation > li > ul > li.current-menu-item > a{
	color:#ffffff;
	background: #f85700;
}
.main-menu .navigation > li.menu-item-has-children > a{
	padding-right: 20px;
	position: relative;
}
.main-menu .navigation > li.menu-item-has-children > a:after{
	content: "\f107";
    position: absolute;
    right: 0;
    color: #000;
    font-size: 20px;
    line-height: 1;
    top: 10px;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.main-menu .navigation > li.menu-item-has-children:hover > a:after{
	    transform: rotate(
-180deg);
    -ms-transform: rotate(-180deg);
    -webkit-transform: rotate(
-180deg);
    -o-transform: rotate(-180deg);
}
.main-menu .navigation > li.menu-item-has-children:hover > ul{
	visibility:visible;
	opacity:1;	
	top: 100%;
	-webkit-transform: translate(0px);
	-ms-transform: translate(0px);
	transform: translate(0px);
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}

/*** 

====================================================================
	Hidden Sidebar style
====================================================================

***/

body.visible-sidebar{
	overflow: hidden;
}

.menu-backdrop{
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9990;
    background: rgba(0,0,0,0.70);
	opacity:0;
	visibility:hidden;
    transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
}

.visible-sidebar .menu-backdrop {
    opacity: 1;
    visibility: visible;
}

.hidden-bar{
	position: fixed;
	top: 0;
	width: 300px;
	height: 100%;
	background: #ffffff;
	border-left: 2px solid #f85700;
	color: #282526;
	z-index: 9999;
	transition: all 700ms ease;
	-webkit-transition: all 700ms ease;
	-ms-transition: all 700ms ease;
	-o-transition: all 700ms ease;
	-moz-transition: all 700ms ease;
}

.hidden-bar ol,
.hidden-bar ol li,
.hidden-bar ul,
.hidden-bar ul li{
	list-style-type:none;
	margin:0px;
}

.hidden-bar.right-align {
	right: -400px;
}

.hidden-bar.right-align.visible-sidebar{
	right:0px;	
}

.hidden-bar.right-align .hidden-bar-closer {
	right: 3px;
}

.hidden-bar.left-align {
	left: -400px;
}

.hidden-bar.left-align.visible-sidebar {
	right: 0px;
}

.hidden-bar.left-align .hidden-bar-closer {
	right: -20px;
}

.hidden-bar .hidden-bar-closer {
	width: 36px;
	height: 36px;
	position: absolute;
	top: 3px;
	background: rgba(0,0,0,0.80);
	color: #ffffff;
	padding: 0;
	border-radius: 0px;
	text-align: center;
	line-height: 36px;
	transition: all 300ms ease;
	-webkit-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	z-index: 999999;
}

.hidden-bar .hidden-bar-closer:hover {
	background: #E30613;
}

.hidden-bar .hidden-bar-closer:hover .btn{
	color: #ffffff;
}

.hidden-bar .hidden-bar-closer .btn {
	background-color: transparent;
	border: none;
	outline: none;
	display: block;
	margin: 0 0;
	width: 100%;
	text-align: center;
	color: #ffffff;
	font-size: 14px;
	padding: 5px 5px;
	line-height: 26px;
}

.hidden-bar .info{
	position:relative;
	display:block;
	font-family: 'Barlow', sans-serif;
	width:100%;
	padding: 40px 20px;
}

.hidden-bar .info ul li{
	position: relative;
	margin-bottom: 12px;
}

.hidden-bar .info ul li a{
	position: relative;
	display: inline-block;
	vertical-align: middle;
	font-size: 16px;
	color: #101010;
	line-height: 24px;
}

.hidden-bar .info ul li .icon{
	position: relative;
	top: -1px;
	vertical-align: middle;
	display: inline-block;
	width: 40px;
	padding-right: 7px;
}

.hidden-bar .info ul li .icon img{
	display: block;
	height: 24px;
}

.hidden-bar .info ul li a:hover{
	color: #E30613;
	text-decoration: underline;
}

.hidden-bar-wrapper{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow-y: auto;
}

.hidden-bar .logo {
	padding: 30px 20px;
	text-align:left;
}

.hidden-bar .logo img{
	display:inline-block;
	height: 70px;
}


.hidden-bar .side-menu {
	background-color: transparent;
	padding: 0;
	font-size:13px;
	font-family: 'Barlow', sans-serif;
	letter-spacing:1px;
}

.hidden-bar .side-menu ul li ul a {
	background: transparent;
}

.hidden-bar .side-menu ul li ul li ul li a {
	background: transparent;
}

.hidden-bar .side-menu li.current-menu-item > a {
	color: #fff;
}

.hidden-bar .side-menu ul li a {
	position: relative;
	background: transparent;
	color: #101010;
	display: block;
	font-weight: 500;
	font-size:15px;
	line-height: 24px;
	text-transform: capitalize;
	border-top: 1px solid rgba(0,0,0,0.10);
	border-bottom: 1px solid rgba(0,0,0,0.10);
	padding: 12px 20px 12px 20px;
	transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}

.hidden-bar .side-menu ul li:hover > a,
.hidden-bar .side-menu ul > li.current-menu-item > a,
.hidden-bar .side-menu ul > li > ul > li.current-menu-item > a {
	background: #f85700;
	color: #ffffff;
}

.hidden-bar .side-menu ul li ul li a{
	padding-left:30px;
	font-size:15px;
	text-transform:capitalize;
}

.hidden-bar .side-menu ul li a .btn.expander {
	background: none;
	color: #101010;
	border: 1px solid rgba(0,0,0,0.80);
	padding: 4px 10px;
	font-size: 14px;
	height: 32px;
	width: 34px;
	line-height: 22px;
	border-radius: 0px;
	position: absolute;
	top: 7px;
	right: 15px;
	outline: none;
}
.hidden-bar-wrapper ul li{
	padding: 0;
}
.hidden-bar-wrapper ul li:before{
	display: none;
	padding-left: 0;
}

@media(max-width: 1920px){
	.main-header .top-info ul li{
		margin-left: 60px;
	}
}
@media(max-width: 1699px){
	.hdr-bdr-content {
	    left: 0;
	}
	.main-header .main-box .logo-box .logo {
	    max-width: 200px;
	}
}


@media only screen and (max-width: 1499px){
	.main-header .auto-container{
		padding-left: 20px;
		padding-right: 20px;
	}
	.main-header .top-info ul li{
		margin-left: 30px;
	}
	.main-menu .navigation > li{
		margin-right: 25px;
	}
	.serach-box{
		margin-left: 30px;
	}
	.hdr-bdr-content {
	    left: -10px;
	}
}
@media only screen and (max-width: 1199px){
	.main-header .upper-right{
		border-top: none;
		padding-top: 0;
		margin-left: auto;
	}

	.main-header .nav-outer .main-menu,
	.main-header .top-info,
	.main-header .nav-outer{
		display: none;
	}

	.main-header .upper-right{
		padding-top: 0;
	}

	.main-header .nav-toggler{
		display: block;
	}

	.main-header .main-box .logo-box{
		padding: 27px 0px 13px;
	}

	.main-header .main-box .logo-box .logo a{
		position: relative;
		display: block;
	}

	.main-header .main-box .logo-box .logo img{
		position: relative;
		top: 0;
		left: 0;
		max-width: none;
		height: 60px;
	}
	.hdr-bdr, .hdr-bdr-content{
		display: none;
	}
	.main-header .main-box {
	    display: flex;
	    align-items: center;
	    padding-top: 27px;
	    padding-bottom: 27px;
	}
	.main-header .main-box .logo-box {
	    padding: 0;
	}
	.main-header .nav-toggler{
		padding: 0;
		margin-left: auto;
	}
	.main-header .nav-toggler button{
		height: 34px;
		line-height: 0;
	}
}