.pro-single-sec{
	padding-top: 85px;
	padding-bottom: 145px;
}
.fl-h1.pro-single-title{
	margin-bottom: 70px;
	text-align: center;
	font-weight: 400;
	color: #ee7d24;
}
.pro-single-hding{
	background: #001e60;
	margin-left: 20px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	padding-left: 40px;
	padding-top: 32px;
	padding-bottom: 24px;
	padding-right: 20px;
	margin-bottom: 32px;
}
.pro-single-hding-info{

}
.pro-single-hding-info ul{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -16px;
}
.pro-single-hding-info ul li{
	padding: 0 16px;
}
.pro-single-hding-info-item{
	text-align: center;
}
.pro-single-hding-info-item span {
    display: block;
    vertical-align: baseline;
    font-size: 14px;
    line-height: 1;
    color: #fff;
    padding-bottom: 8px;
    text-transform: capitalize;
}
.pro-single-hding-info-item strong {
    display: block;
    color: #ee7d24;
    padding-bottom: 4px;
    text-transform: capitalize;
    line-height: 1;
}
.pro-single-hding-info-item span:last-child {
    padding-bottom: 0;
}
.pro-single-hding-rgt{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-left: auto;
}
.fl-h6.pro-single-hding-title{
	color: #fff;
	margin-bottom: 0;
	font-size: 18px;
	line-height: 1;
	padding-right: 64px;
}
.pro-con-lft-btn ul,
.pro-single-hding-rgt-btn ul {
    display: flex;
    margin-left: -4px;
    margin-right: -4px;
}
.pro-con-lft-btn ul li,
.pro-single-hding-rgt-btn ul li {
    padding-left: 4px;
    padding-right: 4px;
}
.pro-con-lft-btn ul li a,
.pro-single-hding-rgt-btn ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 1;
    color: #fff;
    background: #ee7d24;
    text-transform: capitalize;
    min-width: 103px;
    width: 100%;
    height: 29px;
    border-top-left-radius: 18px;
    border-bottom-right-radius: 18px;
    position: relative;
    padding: 2px 10px;
}
.pro-con-lft-btn ul li a{
	background: #001e60;
}
.pro-single-hding-rgt-btn ul li a:hover{
	background: #00d95f;
}
.pro-single-hding-rgt-btn ul li .fea-pro-grd-btn.whatsapp a:hover{
	background: #ee7d24;
	
}
.pro-con-lft-btn ul li a i,
.pro-single-hding-rgt-btn ul li a i {
    position: absolute;
    top: 50%;
    left: 20px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-top: 0;
}
.pro-con-lft-btn ul li .whatsapp a i,
.pro-single-hding-rgt-btn ul li .whatsapp a i {
    left: 9px;
}
.pro-con-lft-btn ul li.mail a i,
.pro-single-hding-rgt-btn ul li.mail a i {
    left: 10px;
}

.pro-single-hding-rgt-btn ul li.whatsapp a {
    background: #00d95f;
    justify-content: flex-end;
    padding-right: 10px;
}

.pro-single-con{
	display: flex;
	flex-wrap: wrap;
}
.pro-single-con-lft{
	width:  58.909%;
}
.pro-single-con-rgt{
	width:  41.090%;
	padding-left: 35px;
}
.pro-details-cntlr{
	padding: 0 20px;
	margin-bottom: 50px;
}
.pro-details{
	border-radius: 10px;
	border: 1px solid #c0c8cd;
	padding: 20px 31px 30px 31px;
}
.pro-details ul{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 -12px;
}
.pro-details ul li{
	padding: 0 12px;
	line-height: 1;
	font-size: 14px;
}
.pro-details-item{
	text-align: center;
}
.pro-details-item-title{
	color: #4f4f4f;
	font-size: 12px;
	text-align: center;
	margin-bottom: 15px;
	line-height: 1;
	display: block;
	text-transform: uppercase;
}
.pro-details-item-img{
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 27px;
	margin-bottom: 10px;
}
.pro-details-item-sub-title{
	color: #4f4f4f;
	font-size: 14px;
	text-align: center;
	margin-bottom: 0;
	line-height: 1;
}
.pro-fea-img-cntlr{
	text-align: center;
	margin-bottom: 50px;
}
.pro-fea-img{
	position: relative;
	display: inline-block;
}
.pro-fea-img-label{
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 50% 50%;
	background: #001e60;
	height: 80px;
	width: 80px;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.pro-name{
	line-height: 1;
	margin-bottom: 8px;
	font-size: 14px;
	color: #fff;
	text-transform: capitalize;
}
.pro-year{
	color: #fff;
	margin-bottom: 0;
	line-height: 1;
	font-size: 18px;
}
.pro-single-con-desc p{
	font-size: 14px;
	color: #181818;
	line-height: 1.8;
}
.pro-single-con-desc{
	padding-bottom: 55px;
}
.pro-con-lft-btn-cntlr{

}
.pro-con-lft-btn-inr{
	display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.fl-h6.pro-con-lft-btn-title{
	font-size: 18px;
	margin-bottom: 0;
	padding-right: 70px;
	text-transform: uppercase;
}

.car-desc-cntlr{
	padding-bottom: 62px;
}
.car-desc-module-cntlr{

}
.fl-h6.car-desc-title{
	margin-bottom: 13px;
	font-size: 18px;
	text-transform: uppercase;
}
.car-desc-module{
	margin-bottom: 15px;
}
.car-desc-module-item{
	background: #eeeaea;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	padding-left: 38px;
	padding-right: 10px;
	padding-top: 7px;
	padding-bottom: 7px;
}
.car-desc-module ul li:nth-child(2n+2) .car-desc-module-item{
	background: #fff;
}
.module-item-name{
	width:  67.5%;
	color: #4f4f4f;
	font-size: 14px;
	display: inline-block;
	line-height: 1;
	margin-bottom: 0;
}
.module-item-rgt{
	margin-left: auto;
	width: 32.5%;
	padding-left: 10px;
	color: #4f4f4f;
	font-size: 14px;
	display: inline-block;
	line-height: 1;
	margin-bottom: 0;
}

.requirements-module-cntlr{

}
.rqrmnt-mdul-hding{
	background: #001e60;
	padding: 20px 25px;
	padding-right: 40px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	border-radius: 10px;
	margin-bottom: 20px;
}
.rqrmnt-mdul h6{
	display: none;
}
.fl-h6.rqrmnt-mdul-tourists-title,
.fl-h6.rqrmnt-mdul-hding-title{
	font-size: 18px;
	margin-bottom: 0;
	line-height: 1.15;
	color: #fff;
	text-transform: uppercase;
}
.fl-h6.rqrmnt-mdul-tourists-title{
	margin-left: auto;
}
.rqrmnt-mdul{
	padding-left: 10px;
	display: flex;
	flex-wrap: wrap;
}
.rqrmnt-mdul ul{
	width: 50%;
	padding-right: 24px;
	padding-left: 24px;
}
.rqrmnt-mdul ul:nth-child(2n+1){
	padding-left: 0;
}
.rqrmnt-mdul ul:nth-child(2n+2){
	padding-right: 0;
}
.rqrmnt-mdul ul li{
	line-height: 1;
	font-size: 14px;
	position: relative;
	padding: 7px 0 8px 21px;
	border-bottom: 2px solid #eeeaea;
}
.rqrmnt-mdul ul li:after{
	content: ""!important;
    position: absolute;
    left: 3px;
    top: 8px;
    width: 14px;
    height: 12px;
    background: url('../images/right-icon.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}


/* pro-single-fea-pro-sec*/
.fea-pro-sec.pro-single-fea-pro-sec{
	background: transparent;
}
.fea-pro-sec.pro-single-fea-pro-sec .fea-pro-grd-item {
    box-shadow: 0px 0px 15px 15px rgb(246 246 246);
    -webkit-box-shadow: 0px 0px 26px 10px rgb(246 246 246);
    -moz-box-shadow: 0px 0px 15px 15px rgba(246,246,246,1);
}
.fea-pro-sec.pro-single-fea-pro-sec .sec-entry-hdr-title{
	color: inherit;
	font-weight: inherit;
}

/*responsive*/
@media(max-width: 1699px){

}
@media(max-width: 1399px){
	.pro-single-sec{
		padding: 80px 0 110px;
	}
	.fl-h1.pro-single-title{
		margin-bottom: 60px;
	}
}
@media(max-width: 1199px){
	.pro-single-sec{
		padding: 70px 0 90px;
	}
	.fl-h1.pro-single-title{
		margin-bottom: 50px;
	}
	.pro-single-hding{
		margin-left: 0;
		padding-left: 20px;
		padding-top: 24px;
	}
	.car-desc-module-item{
		padding-left: 10px;
	}
	.fea-pro-sec.pro-single-fea-pro-sec{
		padding-top: 75px;
	}
	.fl-h6.rqrmnt-mdul-tourists-title, .fl-h6.rqrmnt-mdul-hding-title {
    	font-size: 16.5px;
	}
}
@media(max-width: 1023px){
	.pro-con-lft-btn .fea-pro-grd-btn.whatsapp a,
	.pro-single-hding-rgt .fea-pro-grd-btn.whatsapp a{
		justify-content: flex-end;
	}
}
@media(max-width: 991px){
	.pro-single-sec{
		padding: 60px 0 70px;
	}
	.fl-h1.pro-single-title{
		margin-bottom: 40px;
	}
	.pro-single-hding-info ul{
		margin: 0 -10px;
	}
	.pro-single-hding-info ul li{
		padding: 0 10px;
	}
	.fl-h6.pro-single-hding-title{
		padding-right: 35px;
	}

	.fea-pro-sec.pro-single-fea-pro-sec{
		padding-top: 50px;
	}
	.pro-single-con-lft{
		width: 100%;
		margin-bottom: 50px;
	}
	.pro-details ul{
		justify-content: center;
	}
	.pro-details{
		padding: 20px;
	}
	.pro-fea-img-cntlr,
	.pro-details-cntlr{
		margin-bottom: 45px;
	}
	.pro-single-con-desc p{
		font-size: 16px;
	}
	.pro-details-cntlr{
		padding: 0;
	}
	.pro-single-con-desc{
		padding-bottom: 25px;
	}
	.pro-single-con-rgt{
		width: 100%;
		padding-left: 0;
	}
	.rqrmnt-mdul-hding{
		padding-right: 25px;
	}
	.rqrmnt-mdul{
		padding-left: 0;
	}
	.fl-h6.pro-con-lft-btn-title{
		padding-right: 35px;
	}
	.car-desc-module-item{
		padding-left: 38px;
	}
	.car-desc-cntlr{
		padding-bottom: 45px;
	}
	.rqrmnt-mdul-hding .rqrmnt-mdul-hding-title,
	.rqrmnt-mdul-hding .rqrmnt-mdul-tourists-title{
		width: 50%;
		margin-left: 0;
	}
	.rqrmnt-mdul-hding .rqrmnt-mdul-hding-title br,
	.rqrmnt-mdul-hding .rqrmnt-mdul-tourists-title br{
		display: none;
	}
	.rqrmnt-mdul-hding .rqrmnt-mdul-tourists-title{
		padding-left: 24px;
	}
	
}
@media(max-width: 767px){
	.pro-single-sec{
		padding: 50px 0;
	}
	.fl-h1.pro-single-title{
		margin-bottom: 30px;
	}
	.pro-single-hding-info{
		width: 100%;
		margin-bottom: 20px;
	}
	.pro-single-hding-info ul{
		justify-content: center;
	}
	.pro-single-hding-rgt{
		margin-right: auto;
	}
	.fl-h6.pro-single-hding-title{
		padding-right: 25px;
	}

	.fea-pro-sec.pro-single-fea-pro-sec{
		padding-top: 30px;
	}
	.pro-fea-img-cntlr,
	.pro-details-cntlr{
		margin-bottom: 35px;
	}
	.pro-single-con-desc{
		padding-bottom: 15px;
	}
	.pro-single-con-desc p{
		font-size: 14px;
	}
	.car-desc-cntlr{
		padding-bottom: 35px;
	}

}
@media(max-width: 639px){

}
@media(max-width: 575px){
	.pro-single-hding-rgt{
		display: block;
		width: 100%;
	}
	.fl-h6.pro-single-hding-title{
		padding-right: 0;
		margin-bottom: 20px;
		text-align: center;
	}
	.pro-single-hding-rgt-btn{
		width: 100%;
	}

	.rqrmnt-mdul ul{
		padding: 0 15px;
	}
	.pro-details{
		padding: 20px 15px 0 15px;
	}
	.pro-details ul li{
		margin-bottom: 35px;
	}
	.fl-h6.pro-con-lft-btn-title{
		margin-bottom: 20px;
		padding-right: 0;
		width: 100%;
		display: block;
	}
	.pro-con-lft-btn{
		width: 100%;
		margin: 0 auto;
	}
	.car-desc-module-item{
		padding: 10px;
	}
	.car-desc-cntlr{
		padding-bottom: 20px;
	}
	.pro-con-lft-btn ul, .pro-single-hding-rgt-btn ul {
	    justify-content: center;
	}
	.pro-details{
		padding-bottom: 5px;
	}
	.pro-details ul {
	    flex-wrap: wrap;
	}
	.pro-details ul li {
	    width: 33.333%;
	}
	.rqrmnt-mdul-hding .rqrmnt-mdul-tourists-title {
	    padding-left: 19px;
	}
	.rqrmnt-mdul-hding {
	    padding-left: 19px;
	}

}
@media(max-width: 479px){
	.rqrmnt-mdul ul{
		padding: 0;
		width: 100%;
	}
	.fl-h6.rqrmnt-mdul-tourists-title{
		margin-right: auto;
	}
	.fl-h6.rqrmnt-mdul-tourists-title, 
	.fl-h6.rqrmnt-mdul-hding-title{
		text-align: center;
		display: block;
		width: 100%;
	}
	.fl-h6.rqrmnt-mdul-tourists-title br, 
	.fl-h6.rqrmnt-mdul-hding-title br{
		display: none!important;
	}
	.fl-h6.rqrmnt-mdul-hding-title{
		margin-bottom: 15px;
	}
	.rqrmnt-mdul-hding{
		padding: 20px 15px;
	}
	.pro-con-lft-btn ul, 
	.pro-single-hding-rgt ul {
		display: block;
		margin-left: 0;
		margin-right: 0;
	}
	.pro-con-lft-btn ul li, 
	.pro-single-hding-rgt ul li {
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 10px;
		width: 100%;
	}
	.pro-con-lft-btn ul li:last-child, 
	.pro-single-hding-rgt ul li:last-child{
		padding-bottom: 0;
	}
	.pro-con-lft-btn .fea-pro-grd-btn.whatsapp a, 
	.pro-single-hding-rgt .fea-pro-grd-btn.whatsapp a{
		text-align: center;
		display: inline-block;
		padding: 9px 20px;
		height: 32px;
	}
	.pro-con-lft-btn ul li a i, 
	.pro-single-hding-rgt-btn ul li a i{
		left: 50%;
		transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		margin-left: -30px;
	}
	.pro-con-lft-btn .fea-pro-grd-btn.mail a, 
	.pro-single-hding-rgt .fea-pro-grd-btn.mail a{
		justify-content: center;
	}
	.pro-con-lft-btn ul li .whatsapp a i, .pro-single-hding-rgt-btn ul li .whatsapp a i{
		left: 50%;
		margin-left: -45px;
	}
	.rqrmnt-mdul{
		display: block;
	}
	.rqrmnt-mdul h6{
		display: block;
		padding: 15px 10px;
		background: #001e60;
		margin-bottom: 20px!important;
	}
	.rqrmnt-mdul-hding{
		display: none;
	}
	.rqrmnt-mdul ul{
		margin-bottom: 20px;
	}
	.rqrmnt-mdul ul:last-of-type{
		margin-bottom: 0;
	}
}